In [1]:
from sklearn.model_selection import cross_validate
from sklearn import tree
from sklearn import svm
from sklearn import ensemble
from sklearn import neighbors
from sklearn import linear_model
from sklearn import metrics
from sklearn import preprocessing

In [2]:
%matplotlib inline 

from IPython.display import Image
import matplotlib as mlp
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import sklearn
import seaborn as sns

In [3]:
# ignorando alertas (não erros)

import warnings
warnings.filterwarnings('ignore')

In [4]:
# importando o dataset
df = pd.read_csv('dataset/data-set-clube-new.csv', sep=';')

In [5]:
# checando as 3 primeiras linhas do dataset
df.head(3)

,id_socio,status,qtde_em_aberto,qtde_em_dia,qtde_em_atraso,qtde_frequencia_ano
0,54486,ATIVO,0,0,0,0
1,54460,ATIVO,0,0,0,0
2,54462,ATIVO,0,0,0,0

In [6]:
# checando as 3 últimas linhas do dataset
df.tail(3)

,id_socio,status,qtde_em_aberto,qtde_em_dia,qtde_em_atraso,qtde_frequencia_ano
11985,55648,ATIVO,0,0,0,0
11986,55789,ATIVO,0,0,0,0
11987,49255,ATIVO,0,8,4,4